# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
GITLAB_ACCESS_TOKEN
cf-terraforming

*.out
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terragrunt
terragrunt.iml
.terragrunt-cache

kubeconfig_*
kubeconfig

.*.sw?
.idea
vendor
.vscode
.monokle
.bundle
.ruby-version

# Crash log files
crash.log

.DS_Store

nohup.out